# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
.pnp.js

# Playwright reports & artifacts
/test-results/
/reports/playwright-report/
/reports/blob-report/
/playwright/.cache/
/reports/traces/

# Environment variables
.env
.env.local
.env.*.local

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
